<form>
    <div class="form-group">
        <label for="aa" class="control-label">书名：</label>
        <input type="text" id="aa" class="form-control" ng-model="book.name">
    </div>
    <div class="form-group">
        <label for="bb" class="control-label">价格：</label>
        <input type="text" id="bb" class="form-control" ng-model="book.price">
    </div>
    <div class="form-group">
        <label for="cc" class="control-label">封面：</label>
        <input type="text" id="cc" class="form-control" ng-model="book.cover">
    </div>
    <div class="form-group">
       <button class="btn btn-primary" ng-click="add()">添加图书</button>
    </div>
</form>